@page "/locations"
@implements IDisposable
@using MudBlazor
@using WMS.Application.WarehouseLocations.Dtos
@using WMS.Client.Services
@using WMS.Client.Services.Interfaces
@inject UiUtilityService UiUtilityService
@inject ISnackbar Snackbar
@inject IWarehouseLocationService WarehouseLocationService

<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>WMS Dashboard</PageTitle>

<h3>Add New Location</h3>
<EditForm Model="_addLocationRequest" OnValidSubmit="HandleSubmit" FormName="AddLocationForm">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Location Code:</label>
        <MudTextField @bind-Value="_addLocationRequest.Code" 
                      Placeholder="AA-02-10"
                      Variant="Variant.Outlined" 
                      Margin="Margin.Dense"
                      Mask="@UiUtilityService.LocationMask"
                      Immediate="true" />
        <ValidationMessage For="@(() => _addLocationRequest.Code)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Description (Optional):</label>
        <MudTextField @bind-Value="_addLocationRequest.Description" 
                      Placeholder="Enter description (e.g. Rack for heavy items)..."
                      Variant="Variant.Outlined" 
                      Margin="Margin.Dense" 
                      Lines="3" /> 
        <ValidationMessage For="@(() => _addLocationRequest.Description)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Add location</button>
</EditForm>

<hr />

<h1>Current locations</h1>

@if (_availableLocationCodes == null)
{
    <p><em>Loading warehouse data...</em></p>
}
else if (!_availableLocationCodes.Any())
{
    <p>Warehouse is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location Code</th> 
            </tr>
        </thead>
        <tbody>
        @foreach (var location in _availableLocationCodes)
        {
            <tr>
                <td>@location</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<string>? _availableLocationCodes;

    [SupplyParameterFromForm]
    private CreateWarehouseLocationRequest _addLocationRequest { get; set; } = new();

    private readonly CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        _availableLocationCodes = await WarehouseLocationService.GetCodesAsync(_cts.Token);
    }

    private async Task HandleSubmit()
    {
        var isSuccess = await WarehouseLocationService.CreateAsync(_addLocationRequest, _cts.Token);

        if (isSuccess)
        {
            _addLocationRequest = new CreateWarehouseLocationRequest();
            _availableLocationCodes = await WarehouseLocationService.GetCodesAsync(_cts.Token);
            Snackbar.Add("Location added successfully!", Severity.Success);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}