@page "/locations"
@implements IDisposable
@using MudBlazor
@using WMS.Application.WarehouseLocations.Dtos
@using WMS.Client.Services
@inject ClientService ClientService
@inject ISnackbar Snackbar
@inject ILogger<Locations> Logger

<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>WMS Dashboard</PageTitle>

<h3>Add New Location</h3>
<EditForm Model="_addLocationRequest" OnValidSubmit="HandleSubmit" FormName="AddLocationForm">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Location Code:</label>
        <MudTextField @bind-Value="_addLocationRequest.Code" 
                      Placeholder="AA-02-10"
                      Variant="Variant.Outlined" 
                      Margin="Margin.Dense"
                      Mask="@_locationMask"
                      Immediate="true" />
        <ValidationMessage For="@(() => _addLocationRequest.Code)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Description (Optional):</label>
        <MudTextField @bind-Value="_addLocationRequest.Description" 
                      Placeholder="Enter description (e.g. Rack for heavy items)..."
                      Variant="Variant.Outlined" 
                      Margin="Margin.Dense" 
                      Lines="3" /> 
        <ValidationMessage For="@(() => _addLocationRequest.Description)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Add location</button>
</EditForm>

<hr />

<h1>Current locations</h1>

@if (_availableLocations == null)
{
    <p><em>Loading warehouse data...</em></p>
}
else if (!_availableLocations.Any())
{
    <p>Warehouse is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location Code</th> 
            </tr>
        </thead>
        <tbody>
        @foreach (var location in _availableLocations)
        {
            <tr>
                <td>@location</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<string>? _availableLocations;

    [SupplyParameterFromForm]
    private AddLocationRequest _addLocationRequest { get; set; } = new();

    private readonly CancellationTokenSource _cts = new();

    private IMask _locationMask = new PatternMask("XX-00-00")
    {
        MaskChars = new[]
        {
            new MaskChar('X', @"[A-Za-z]"),
            new MaskChar('0', @"[0-9]")
        },
        Transformation = c => char.ToUpperInvariant(c)
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadLocationsAsync();
    }

    private async Task LoadLocationsAsync()
    {
        _availableLocations = await ClientService.GetListAsync<string>("api/warehouseLocations/locations", _cts.Token);
    }

    private async Task HandleSubmit()
    {
        var isSuccess = await ClientService.PostAsync("api/warehouseLocations/create", _addLocationRequest, _cts.Token);

        if (isSuccess)
        {
            _addLocationRequest = new AddLocationRequest();
            await LoadLocationsAsync();
            Snackbar.Add("Location added successfully!", Severity.Success);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}